<app-header
  title="Grid"
  [isAboutShown]="false"
  [isBackShown]="true"
></app-header>

<ion-content class="ion-padding" fullscreen>
  <ion-grid fixed>
    <ion-row>
      <!--? Break point https://ionicframework.com/docs/layout/grid -->
      <ion-col
        size-lg="3"
        size-md="4"
        size-sm="6"
        *ngFor="let e of [1,1,1,1,1,1,1,1,1,1,1,1,]"
      >
        <ion-card>
          <ion-img src="/assets/images/avatars/stan-lee.jpg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content is awesome. Check out the amazing things that can be
            done with ionic.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
