<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isBackShown">
        <ion-back-button defaultHref="/home" color="primary">
        </ion-back-button>
      </ion-buttons>
    <ion-title class="ion-text-centerquitame"> {{ title }} </ion-title>
    <ion-buttons slot="end" *ngIf="isAboutShown">
      <ion-button routerLink="/about" color="secondary">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isAvatarShown">
      <ion-avatar>
        <img [src]="imagePath"/>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
