<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="primary" *ngIf="isBackShown">
      </ion-back-button>
      <ion-menu-button menu="first-menu" *ngIf="isMenuShown"></ion-menu-button>
      
      <!--? if there are more menus this will another option of an menu button -->
      <!-- <ion-button (click)="showMenu()" *ngIf="isMenuShown">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title class="ion-text-centerquitame">
      {{ title }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        routerLink="/about"
        color="secondary"
        [disabled]="isAboutDisabled"
        *ngIf="isAboutShown"
      >
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
      <ion-avatar *ngIf="isAvatarShown">
        <img [src]="imagePath" />
      </ion-avatar>
      <ion-button (click)="toggle()" *ngIf="isToggleShown">
        <ion-icon
          slot="icon-only"
          [name]="isEditable ? 'close' : 'reorder-three'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
