<app-header
  title="🧮 Halstead Metrics"
  [isAboutShown]="true"
  [isBackShown]="false"
></app-header>

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Metrics</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-list>
    <ion-item *ngFor="let c of components" button [routerLink]="c.redirectTo" detail>
      <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
      <ion-label>{{ c.name }}</ion-label>
    </ion-item>
  </ion-list>

  
</ion-content>

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button  routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button  routerLink="/about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
