<app-header
  title="Input"
  [isAboutShown]="false"
  [isBackShown]="true"
></app-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Default Input </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Field: </ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Input with value </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Field: </ion-label>
      <ion-input value="custom"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Input with placeholder </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Field: </ion-label>
      <ion-input placeholder="Enter Input"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Input with clear button when there is a value </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Field: </ion-label>
      <ion-input clearInput value="clear me"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Number type input </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Field: </ion-label>
      <ion-input type="number" value="333"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Disabled input </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Field: </ion-label>
      <ion-input value="Disabled" disabled></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Readonly input </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Field: </ion-label>
      <ion-input value="Readonly" readonly></ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Fixed Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Stacked Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <!-- Textarea in an item with a placeholder -->
  <ion-item>
    <ion-textarea placeholder="Enter more information here..."></ion-textarea>
  </ion-item>

  <!-- Textarea in an item with a floating label -->
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <!-- Disabled and readonly textarea in an item with a stacked label -->
  <ion-item>
    <ion-label position="stacked">Summary</ion-label>
    <ion-textarea
      disabled
      readonly
      value="Ionic enables developers to build performant, high-quality mobile apps.">
    </ion-textarea>
  </ion-item>

  <!-- Textarea that clears the value on edit -->
  <ion-item>
    <ion-label>Comment</ion-label>
    <ion-textarea clearOnEdit="true"></ion-textarea>
  </ion-item>

  <!-- Textarea with custom number of rows and cols -->
  <ion-item>
    <ion-label>Notes</ion-label>
    <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
  </ion-item>
</ion-content>
