<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Header</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedMode" scrollable>
      <ion-segment-button *ngFor="let mode of modes" [value]="mode">
        <ion-label>{{ mode }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-item
    (click)="showPicker = !showPicker"
    class="ion-activatable ripple-parent"
    button
  >
    <ion-label>Date</ion-label>
    <ion-text color="primary" slot="end"> {{ formattedString }} </ion-text>
  </ion-item>
  <ion-datetime
    #datetime
    [presentation]="selectedMode"
    *ngIf="showPicker"
    [value]="dateValue"
    size="cover"
    (ionChange)="dateChange(datetime.value)"
    showDefaultButtons="true"
    (ionCancel)="showPicker = false;"
  >
  </ion-datetime> -->
  <ion-item>
    <ion-label>Modal aproach</ion-label>
  </ion-item>
  <ion-item id="open-modal" button>
    <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
    <ion-label>Pick Date</ion-label>
    <ion-text slot="end"> {{ formattedString }} </ion-text>
  </ion-item>
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-datetime
          #datetime
          [presentation]="selectedMode"
          [value]="dateValue"
          size="cover"
          (ionChange)="dateChange(datetime.value)"
        >
          <ion-buttons slot="buttons">
            <ion-button (click)="close()" class="red-content">
              Cancel
            </ion-button>
            <ion-button (click)="select()" color="primary">
              Select
            </ion-button>
          </ion-buttons>
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- https://www.youtube.com/watch?v=iq_XIPml9_M -->

  <!-- 
    Old way to do it
  <!-- <ion-list>  
    <ion-list-header>
      <ion-label> Birthdate 🎂</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-item>
    <ion-label>Birth</ion-label>
    <ion-button id="open-modal">{{ datevalue.toDateString() }}</ion-button>
    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-datetime></ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-item> -->
</ion-content>
