<ion-header>
  <ion-toolbar>
    <ion-title>Modal page</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exitWithoutArgs()">
        <ion-icon slot="icon-only" name="exit" color="tertiary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>  
    <ion-card-header>
      <ion-card-title>File: {{ file.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Size {{ file.size }}</p>
      <p>Type {{ file.type }}</p>
      <p>Content: {{ file.content }}</p>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <ion-list-header>
          <ion-label>Valid form: {{ form.valid }}</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input
            type="email"
            placeholder="Email"
            name="email"
            [(ngModel)]="user.email"
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
            required
          ></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Password:</ion-label>
          <ion-input
            type="password"
            name="password"
            [(ngModel)]="user.password"
            placeholder="Password"
            required
          ></ion-input>
        </ion-item>
    
        <ion-button [disabled]="form.invalid" type="submit" expand="block">
          Login
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
